  .largecontainer {
    width: 500px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

  .mediumcontainer {
    width: 300px;
    border: 15px solid red;
    padding: 50px;
    margin: 20px;
  }


  .smallcontainer {
    width: 5px;
    border: 5px solid purple;
    padding: 50px;
    margin: 20px;
  }