<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= csrf_meta_tags %>
<%= render 'spree/shared/paths' %>
<%= javascript_include_tag 'spree/frontend/all' %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>
<%= render 'spree/shared/translations' %>

<% if @widget.present? %>
  <% if @widget.id == 2 %>
    <link rel="stylesheet" href="/assets/winter/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/assets/winter/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assets/winter/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/assets/winter/css/flaticon.css">
    <link rel="stylesheet" href="/assets/winter/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assets/winter/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/assets/winter/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/assets/winter/css/style.css">

    <script src="/assets/winter/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/assets/winter/js/popper.min.js"></script>
    <script src="/assets/winter/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/assets/winter/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/assets/winter/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="/assets/winter/js/owl.carousel.min.js"></script>
    <script src="/assets/winter/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/assets/winter/js/slick.min.js"></script>
    <script src="/assets/winter/js/jquery.counterup.min.js"></script>
    <script src="/assets/winter/js/waypoints.min.js"></script>
    <script src="/assets/winter/js/contact.js"></script>
    <script src="/assets/winter/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/winter/js/jquery.form.js"></script>
    <script src="/assets/winter/js/jquery.validate.min.js"></script>
    <script src="/assets/winter/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/assets/winter/js/custom.js"></script>
  <% elsif @widget.id == 3 %>
    <link rel="stylesheet" href="/assets/widget/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/widget/css/animate.css">
    
    <link rel="stylesheet" href="/assets/widget/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/widget/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/widget/css/magnific-popup.css">

    <link rel="stylesheet" href="/assets/widget/css/aos.css">

    <link rel="stylesheet" href="/assets/widget/css/ionicons.min.css">

    <link rel="stylesheet" href="/assets/widget/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/widget/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/assets/widget/css/flaticon.css">
    <link rel="stylesheet" href="/assets/widget/css/icomoon.css">
    <link rel="stylesheet" href="/assets/widget/css/style.css">
    <script src="/assets/widget/js/jquery.min.js"></script>
    <script src="/assets/widget/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/assets/widget/js/popper.min.js"></script>
    <script src="/assets/widget/js/bootstrap.min.js"></script>
    <script src="/assets/widget/js/jquery.easing.1.3.js"></script>
    <script src="/assets/widget/js/jquery.waypoints.min.js"></script>
    <script src="/assets/widget/js/jquery.stellar.min.js"></script>
    <script src="/assets/widget/js/owl.carousel.min.js"></script>
    <script src="/assets/widget/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/widget/js/aos.js"></script>
    <script src="/assets/widget/js/jquery.animateNumber.min.js"></script>
    <script src="/assets/widget/js/bootstrap-datepicker.js"></script>
    <script src="/assets/widget/js/scrollax.min.js"></script>
    <script src="/assets/widget/js/main.js"></script>

  <%else%>
    <link rel="stylesheet" href="/assets/divisima/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/flaticon.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/slicknav.min.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/animate.css"/>
    <link rel="stylesheet" href="/assets/divisima/css/style.css"/>
    <script src="/assets/divisima/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/divisima/js/bootstrap.min.js"></script>
    <script src="/assets/divisima/js/jquery.slicknav.min.js"></script>
    <script src="/assets/divisima/js/owl.carousel.min.js"></script>
    <script src="/assets/divisima/js/jquery.nicescroll.min.js"></script>
    <script src="/assets/divisima/js/jquery.zoom.min.js"></script>
    <script src="/assets/divisima/js/jquery-ui.min.js"></script>
    <script src="/assets/divisima/js/main.js"></script>
  <%end%>
<%end%>
